<h2><%= current_teacher.prefix %><%= current_teacher.name %>'s Assignment Dashboard</h2>

<h3><%= @type.name %></h3>

<div class="dashboard-container">
  <div class="blocks">
    <% @assignments.each do |assignment| %>
      <% assignment.students.each do |pair| %>
      <li><%= pair.name %></li>
      <% end %>
    <% end %>
  </div>
</div>

