<div class="one_to_one_work">
	<h1>Welcome <%= @student1.name %> and <%= @student2.name %></h1>
	<h2>You'll be working on the <span style="color:blue"><%= @instructions.name %></span> assignment</h2>
	<div class="work">
		<% if @instructions.assignment_url %>
			
		<% end %>
	</div>
	<div class="chat"></div>

</div>