<div class="home">
  <div class="head">
    <%= image_tag("pairs-horiz.png") %>
  </div>
  <div class="welcome-container">
    
    <p>Student Collaboration Made Easy.</p>
    <div class="row">
    <%= link_to(image_tag("rogerpark.jpg"), "/rogers-park") %>
    <%= link_to(image_tag("bucktown.jpg"), "/bucktown") %>
    </div>
  </div>
</div>
