<div class="home">
  <div class="head">
    <%= image_tag("pairs-horiz.png") %>
    <p>Student Collaboration Made Easy.</p>
  </div>
  <div class="welcome-container">

    <div class="studentdiv">
      <div class="student-text">
        <p>Student Login</p>
      </div>
      <div class="student">
        <%= link_to(image_tag("pear-white2.png"), "/new") %>
      </div>
    </div>

    <div class="teacherdiv">
      <div class="teacher-text">
        <p>Teacher Login</p>
      </div>
      <div class="teacher">
        <%= link_to(image_tag("pear-white2.png"), "/teacher/1") %>
      </div>
    </div>
    
  </div>
</div>
