<p><strong>Email: </strong><%= current_user.email %></p>

<% if logged_in? %>
	<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<% end %>
<%= link_to 'Back', teachers_path %> | <%= link_to "logout", logout_path %>