

.blocks {
  float: left;
  margin: 15px;
  position: relative;
  padding: 30px;
  border: solid 5px #333366;
  background-color: ghostwhite;
  border-radius: 10px;
  border-spacing: 10px;
  list-style: none;
  width: 10%;
  height: auto;
}

.dashboard_container {
  display: inline;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 30px;
  position: center;
  padding: 40px;
  width: 100%;
  background-color: ghostwhite;
  border-radius: 2px;
}

