// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home p {
  font-family: 'Noto Sans', sans-serif;
  color: #333;
  font-size: 26px;
  /*text-align: center;*/
  position: relative;
  left: 60%;
}

.student {
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #C0FF5C;
  border-radius: 20px;
  display: inline-block;
  border: solid 3px;
  overflow: hidden;
  top: 433px;
  left: 30%;
}

.student-text p {
  font-size: 2em;
  font-family: 'Noto Sans', sans-serif;
  color: #FFFFFF;
  display: inline;
  left: 30%;
  top: 10px;
}

.student:hover {
  background-color: #15E83A;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}

.student img{
  width: 220px;
  height: auto;
  padding: 20px;
}

.teacher {
  position: absolute;
  left:50%;
  top: 433px;
  width: 220px;
  height: 220px;
  float: left;
  background-color: #C0FF5C;
  border-radius: 20px;
  display: inline-block;
  border: solid 3px;
}

.teacher-text p {
  font-size: 2em;
  font-family: 'Noto Sans', sans-serif;
  color: #FFFFFF;
  display: inline-block;
  left: 50%;
  top: -42px;
}

.teacher:hover {
  background-color: #15E83A;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}

.teacher img{
  width: 220px;
  height: auto;
  padding: 20px;

}

.home {
  height: 1000px;
  background-color: #1582E8;
}

.home .head {
  background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  margin-top: -10%;
  background-color: ghostwhite;
  border-bottom: 10px solid #1582E8;
  height: 370px;
}

.head img {
  display: block;
  margin: auto;
  position: relative;
  top: 70px;
}

.home .welcome-container {
  margin: auto;
  width: 1200px;
  height: 1000px;
}

.welcome-container img {
  display: inline;
}

.home h2 {
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  color: #545455;
}

.settings {
  position:relative;
  right: 80px;
}
