// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home p {
  color: #939393;
  font-size: 22px;
  text-align: center;

}

.row img {
  padding: 6px;
}

.row {
/*  display: flex;*/
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.home {
  background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  height: 1900px;
  background-color: #F5F5F5;
}

.home .head {
  margin-top: -10%;
  background-color: ghostwhite;
  border-bottom: 10px solid #333366;
  height: 400px;
}

.head img {
  display: block;
  margin: auto;
  position: relative;
  top: 70px;
}

.home .welcome-container {
  margin: auto;
  width: 1200px;
  height: 1200px;
}

.home h2 {
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  color: #545455;
}

.settings {
  position:relative;
  right: 80px;
}
